body {
    background-color: gray;
}

circle {
    r: 5;
}

/*
 * Node style codes are "abc" where:
 *   a = node type (q,x,z = qubit, x stabiliser, z stabiliser)
 *   b = node status (i,x,y,z = error types for qubits, 0,1 = +1,-1 measurement outcomes for stabilisers)
 *   c = selected y/n
*/

.qin {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: black;
}
.qxn {
    stroke: blue;
    stroke-width: 3px;
    fill: black;
}
.qzn {
    stroke: red;
    stroke-width: 3px;
    fill: black;
}
.qyn {
    stroke: green;
    stroke-width: 3px;
    fill: black;
}
/* These four are all the same style but link class is found using node class 
 * and it needs error information (i,x,y,z) even if this does not affect node colour
*/
.qiy {
    stroke: yellow;
    stroke-width: 4px;
    fill: black;
}
.qxy {
    stroke: yellow;
    stroke-width: 4px;
    fill: black;
}
.qzy {
    stroke: yellow;
    stroke-width: 4px;
    fill: black;
}
.qyy {
    stroke: yellow;
    stroke-width: 4px;
    fill: black;
}

.x0n {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: blue;
}
.x1n {
    stroke: black;
    stroke-width: 4px;
    fill: blue;
}
/* Need to include 0/1 info for selected nodes even if does not affect style, as above*/
.x0y {
    stroke: yellow;
    stroke-width: 4px;
    fill: blue;
}
.x1y {
    stroke: yellow;
    stroke-width: 4px;
    fill: blue;
}

.z0n {
    stroke: #fff;
    stroke-width: 1.5px;
    fill: red;
}
.z1n {
    stroke: black;
    stroke-width: 4px;
    fill: red;
}
/* And here as well */
.z0y {
    stroke: yellow;
    stroke-width: 4px;
    fill: #fff;
}
.z1y {
    stroke: yellow;
    stroke-width: 4px;
    fill: #fff;
}

/*Links connecting qubit errors to stabilisers which detect them are coloured appropriately*/

.noErr {
    stroke: white;
    stroke-opacity: 0.6;
    stroke-width: 3;
}
.xErr {
    stroke: blue;
    stroke-opacity: 1;
    stroke-width: 4;
}
.yErr {
    stroke: green;
    stroke-opacity: 1;
    stroke-width: 4;
}
.zErr {
    stroke: red; 
    stroke-opacity: 1; 
    stroke-width: 4;
}

