body {
    background-color: #444444;
    overflow-x: scroll;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#welcome{
    float: left;
    text-align: left;
    white-space: pre-wrap;
    color: white;
}

#credits {
    float: right;
    text-align: right;
    white-space: pre-wrap;
    color: white;
}

a:link {
    color: #0096FF;
}

a:visited {
    color: #0096FF;
}
